.page{
    background-color: rgb(187, 251, 246);
    border-radius: 1em;
    border-color: rgb(250, 161, 161);
    border-style: inset;
    overflow: hidden;
    margin: 0 auto;
    background-color: bisque;
}

.left-side {
    float: left;
    background-color: rgb(30, 174, 210);
    margin-left: 5vw;
    margin-bottom: 1em;
    padding: 10px;
    margin-top: 10px;
    
    border-radius: 0.5em;
    border-color: rgb(106, 225, 255);
    width: 300px;
    height: 100px;
}

.right-side {
    float: right;
    border-color: rgb(106, 225, 255);
    margin-right: 5vw;
    margin-top: 10px;
    margin-bottom: 1em;
    
    padding: 10px;
    border-radius: 0.5em;
    background-color: rgb(30, 174, 210);
    width: 300px;
    height: 100px;
}
.left-side p {
    text-align: center;
    font-size: large;
}
.right-side p {
    text-align: center;
    font-size: large;
}

