.page{
    background-color:#bbe8ff;
    overflow: hidden;
    margin: 0 auto;
}
h1{
    margin-top: 0;
}
h1, h2 {
    color: #004c6d;
}
h2 {
    margin-bottom: 0;
}
.container {
    display: flex;
    margin:auto;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.left-side {
    background-color: #3b708f;
    margin: 1em;
    padding: 10px;
    border-radius: 0.5em;
    width: fit-content;
    height: fit-content;
}
.left-side:hover{
    background-color: #50a9cf;
    font-weight: bolder;
}
.left-side p{
    text-align: center;
    color:#dddddd;
    font-weight: bold;
}
.header {
    top: 0;
    background-color: #3b708f;
    margin: 0 auto;
    height: auto;
    padding-bottom: 10px;
    padding-top: 10px;
    
}
.header h2, .header h1 {
    color: white;
}